branches: 
  only: 
    - docs
script: 
  - |
      if [ -n "$GITHUB_API_KEY" ]; then
         git config user.name "Travis CI"
         git config user.email "ganjar@sense-os.nl"

         #Get current commit id
         COMMIT_ID=`git log -1 --pretty=%h`

         #check latest changed file
         PATH_TO_FILE=$(git diff-tree --no-commit-id --name-status -r $COMMIT_ID)

         addormodfile='addormodfile.txt'
         deletedfile='delete.txt'

         #log all changed files
         while IFS='' read -r line || [[ -n "$line" ]]; do


              if [ "${line:0:1}" == "A" && "$line" != *".yml"* ]
                        then
                            echo "This file = ${line:2} Added"
                            echo "$line" >> $addormodfile
                            echo "File $count : ${line:2} added to log!"
                            echo " "
                            
              elif [ "${line:0:1}" == "D" && "$line" != *".yml"* ]
                        then
                            echo "This file = ${line:2} Deleted"
                            echo "$line" >> $deletedfile
                            echo "File $count : ${line:2} added to log!"
                            echo " "
              elif [ "${line:0:1}" == "M" && "$line" != *".yml"* ]
                        then
                            echo "This file = ${line:2} Modified"
                            echo "$line" >> $addormodfile
                            echo "File $count : ${line:2} added to log!"
                            echo " "
              
             fi
          
         done <<< "$output"

         mkdir wiki && cd wiki

         git clone https://ganjarpanji:$GITHUB_API_KEY@github.com/ganjarpanji/test_wiki.wiki.git
         echo " "

         cd test_wiki.wiki

         mv ../../$deletedfile ./

         #Delete file
         while IFS='' read -r line || [[ -n "$line" ]]; do
              git rm "${line:2}"
              echo "File $count = ${line:2} Deleted!"
              echo " "
              (( count++ ))
         done < $deletedfile 

         git commit -m "DEL-$COMMIT_MESSAGE"
         git push https://ganjarpanji:$GITHUB_API_KEY@github.com/ganjarpanji/test_wiki.wiki.git


         cd ../../

         git checkout docs

         #Add or modified file
         while IFS='' read -r line || [[ -n "$line" ]]; do
            if [ "${line:0:1}" == "A" ]
                    then
                        git add "${line:2}"
                        echo "File $count = ${line:2} Added!"
                        echo " "
            elif [ "${line:0:1}" == "M" ]
                    then
                        git add "${line:2}"
                        echo "File $count = ${line:2} Modified!"
                        echo " "
            fi
            (( count++ ))
         done < $addormodfile


         git commit -m "ADD-$COMMIT_MESSAGE"

         git push https://ganjarpanji:$GITHUB_API_KEY@github.com/$TRAVIS_REPO_SLUG.wiki.git docs:master --force
    fi
