branches: 
  only: 
    - docs
script: 
  - |
      if [ -n "$GITHUB_API_KEY" ]; then
       git config user.name "Travis CI"
       git config user.email "ganjar@sense-os.nl"
       git push https://ganjarpanji:$GITHUB_API_KEY@github.com/ganjarpanji/test_wiki.wiki.git docs:master --force &2>/dev/null
      fi
